.projectOverView{
    width: 350px;
    height: 560px;
    background-size: 350px;
    background-position: center;
    background-repeat: no-repeat;
}

.projectOverView > div{
    width: inherit;
    height: inherit;
    padding: 45px 0px 39px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    cursor:pointer;
}

@media(hover:hover){
    .projectOverView > div:hover{
        background: rgba(255,255,255,0.4);
    }
}


.projectOverViewNumber{
    margin-right: -12px;
    padding: 0px;
    font: 700 250px/200px 'LeagueSpartan-Bold';
    letter-spacing: -5px;
    text-align: right;
    color:rgba(255,255,255,0.5);
}

.projectOverViewInfo{
    height: 64px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color:white;
}

.projectOverViewTitle{
    font: 700 32px/40px 'LeagueSpartan-Bold';
}

/*############################## TABLET VERSION ##############################*/

@media (min-width: 768px) and (max-width: 1024px) {
    .projectOverView{
        width: 573px;
        height: 240px;
        background-size: 573px;
    }
    
    .projectOverView > div{
        padding: 0px 16px 39px 40px;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
        
    .projectOverViewNumber{
        height: 200px;
        margin: 29px 0px 0px;
    }
    
    .projectOverViewInfo{
        margin-top: 137px;
    }
}

/*############################## MOBILE VERSION ##############################*/

@media screen and (max-width:767px) {
    .projectOverView{
        width: 311px;
        height: 240px;
        background-size: 311px;
    }
    
    .projectOverView > div{
        padding: 153px 0px 0px 24px;
    }
    
    @media(hover:hover){
        .projectOverView > div:hover{
            background: rgba(255,255,255,0.4);
        }
    }
    
    
    .projectOverViewNumber{
        display: none;
    }
    
    .projectOverViewInfo{
        height: 64px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color:white;
    }
    
    .projectOverViewTitle{
        font: 700 32px/40px 'LeagueSpartan-Bold';
    }
}
