.arrowButton{
    width: auto;
    height: 72px;
    padding: 25px 80px 22px 36px;
    font: 700 18px/25px 'LeagueSpartan-Bold';
    color: white;
    background: var(--veryDarkBlue) url('./img/icon-arrow.svg') calc(100% - 32px) 50%/24px no-repeat;
    transition: background-color 0.3s ease;
    border: none;
    cursor: pointer;
}

@media(hover:hover){
    .arrowButton:hover{
        background-color: var(--darkGrey);
    }
}