#portfolio{
    width: 1110px;
    height: auto;
    margin-bottom: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#portfolioMosaic{
    width: inherit;
    height: 2336px;
    display: grid;
    grid-template-rows: 560px 560px 560px 560px;
    grid-template-columns: 350px 350px 350px;
    grid-template-areas:
    "seraph eebox federal"
    "sol prototype 228B"
    "edelweiss netcry hypers"
    "sxiv trinity paramour";
    grid-gap: 30px;
}