#homeSlide{
    width: inherit;
    height: 720px;
    display: flex;
}

#homeSlideNavBar{
    width: 320px;
    height: 80px;
    position: absolute;
    z-index: 100;
    margin: 640px 0px 0px -80px;
    display: inline-flex;
}