#homeSlide{
    width: inherit;
    height: 720px;
    display: flex;
}

#homeSlideNavBar{
    width: 320px;
    height: 80px;
    position: absolute;
    z-index: 100;
    margin: 640px 0px 0px -80px;
    display: inline-flex;
}

#homeSlide > button{
    margin: 469px 0px 0px 190px;
    z-index: 100;
}

/*############################## TABLET VERSION ##############################*/

@media (min-width: 768px) and (max-width: 1024px) {
    
    #homeSlideNavBar{
        display: none;
    }
    
    #homeSlide > button{
        margin: 469px 0px 0px 58px;
    }
}

/*############################## MOBILE VERSION ##############################*/

@media screen and (max-width:767px) {

}