.navBarButton{
    width: auto;
    height: 32px;
    font: 700 18px/32px 'LeagueSpartan-Bold';
    border: none;
    background-color: transparent;
    transition: color 0.3s ease;
    
}

.navBarButton:not(:disabled){
    color:var(--mediumGrey);
    cursor: pointer;
}

@media(hover:hover) {
    .navBarButton:hover {
        color: var(--veryDarkBlue);
    }
}

.navBarButton:disabled{
    color: var(--veryDarkBlue);
}

.btUnderline {
    width: 24px;
    height: 1px;
    transition: background-color 0.5s ease;
}

.navBarButton:disabled .btUnderline{
    background-color: var(--veryDarkBlue);
}

.navBarButton:not(:disabled) .btUnderline{
    background-color: transparent;
}

