.sectionHeader {
    width: inherit;
    height: 720px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    background-size: 635px;
    background-position: left;
    background-repeat: no-repeat;
}

.sectionHeader h1 {
    height: 200px;
    margin-top: -87px;
    line-height: 200px;
}

.headerContent {
    width: 628px;
    height: 503px;
    padding-left: 182px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    background-color: white;
}

.decoLine {
    margin-top: 47px;
    align-self: flex-start;
}

.headerContent h3 {
    width: 445px;
    margin: 58px 0px 49px 0px;
    color: var(--veryDarkBlue);
}

.headerContent p {
    width: 445px;
    color: var(--darkGrey);
}

/*############################## TABLET VERSION ##############################*/

@media (min-width: 768px) and (max-width: 1024px) {
    .sectionHeader {
        background-size: 573px;
    }

    .sectionHeader h1 {
        height: 83px;
        margin-top: -42px;
        line-height: 100px;
    }

    .headerContent {
        width: 572px;
        height: 431px;
        padding: 0px 60px 0px 59px;
        margin-right: -57px;
    }

    .decoLine {
        margin-top: 54px;
    }

    .headerContent h3 {
        width: 445px;
        margin: 73px 0px 38px 0px;
    }

    .headerContent p {
        width: 445px;
    }
}

/*############################## MOBILE VERSION ##############################*/

@media screen and (max-width:767px) {
    .sectionHeader {
        width: inherit;
        height: 529px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        background-size: 375px;
        background-position: top;
    }

    .sectionHeader h1 {
        display: none;
    }

    .headerContent {
        width: 343px;
        height: 310px;
        padding-left: 32px;
        margin-top: 195px;
    }

    .decoLine{
        display: none;
    }

    .headerContent h3 {
        width: 311px;
        margin: 65px 0px 21px 0px;
    }

    .headerContent p {
        width: 311px;
    }
}