#homeWelcome {
    width: inherit;
    height: 568px;
    margin-top: 195px;
    padding-left: 189px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background: url('./img/welcomePic.jpg') right/350px no-repeat;
    border:solid 1px red;
}

#homeWelcome div[class='decoLine'] {
    display: none;
}

#homeWelcome h1 {
    height: 200px;
    margin: -122px 0px 0px -191px;
}

#homeWelcome h3 {
    width: 446px;
    margin-top: -3px;
    color: var(--veryDarkBlue);
}

#homeWelcomeText {
    width: 445px;
    height: 312px;
    margin-top: 43px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

#homeWelcome p {
    color: var(--darkGrey);
}

/*############################## TABLET VERSION ##############################*/

@media (min-width: 768px) and (max-width: 1024px) {
    #homeWelcome {
        height: 570px;
        margin-top: 89px;
        padding-left: 0px;
        background: none;
    }

    #homeWelcome h1 {
        height: 200px;
        margin: 0px 0px -41px;
    }

    #homeWelcomeText {
        width: 572px;
        height: 240px;
    }
}

/*############################## MOBILE VERSION ##############################*/

@media screen and (max-width:767px) {
    #homeWelcome {
        width: 375px;
        height: 625px;
        margin-top: 72px;
        padding: 0px 32px;
        background: none;
    }

    #homeWelcome div[class='decoLine'] {
        display: block;
        margin-bottom: 68px;
    }

    #homeWelcome h1 {
        display: none;
    }

    #homeWelcome h3 {
        width: 311px;
    }

    #homeWelcomeText {
        width: 310px;
        height: 432px;
        margin-top: 22px;
    }
}