.slideProject {
    width: inherit;
    height: inherit;
    position: absolute;
    display: flex;
    background-position: center;
    background-size: 1110px;
    background-repeat: no-repeat;
    transition: opacity 0.6s ease;
}

.slideProjectBg {
    width: inherit;
    height: inherit;
    padding: 186px 0px 0px 190px;
    background-color: rgba(0, 0, 0, 0.3);
     color: white;
}

.slideProjectBg>div {
    width: 544px;
    height: 355px;
    display: flex;
    flex-direction: column;
   
}

.slideProject h2 {
    width: inherit;
    height: 160px;
}

.slideProject p {
    width: 445px;
    height: 160px;
    margin-top: 10px;
}

/*############################## TABLET VERSION ##############################*/

@media (min-width: 768px) and (max-width: 1024px) {
    .slideProject {
        width: 573px;
        background-size: 573px;
    }

    .slideProjectBg {
        padding: 186px 58px 0px;

    }

    .slideProjectBg>div {
        width: 500px;
    }
}

/*############################## MOBILE VERSION ##############################*/

@media screen and (max-width:767px) {
    .slideProject {
        background-size: 560px;
    }

    .slideProjectBg {
        padding: 116px 32px 0px 32px;
    }

    .slideProjectBg>div {
        width: 544px;
        height: 355px;
    }

    .slideProject h2 {
        width: 311px;
        height: 96px;
    }

    .slideProject p {
        width: 311px;
        height: 72px;
    }
}