.navBar{
    height: 32px;
    display: inline-flex;
    align-items: center;
}

.navBar button:nth-child(2){
    margin: 0px 51px 0px 61px;
}

/*############################## MOBILE VERSION ##############################*/

@media screen and (max-width:767px) {
    .navBar{
        width: 180px;
        height: 139px;
        display: flex;
        flex-direction: column;
    }
}