.navBar{
    height: 40px;
    display: inline-flex;
    align-items: flex-end;
}

.navBar div:nth-child(2){
    margin: 0px 47px 0px 59px;
}

/*############################## MOBILE VERSION ##############################*/

@media screen and (max-width:767px) {
    .navBar{
        width: 180px;
        height: 139px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }
}