.navBar{
    width: 313px;
    height: 32px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

/*############################## MOBILE VERSION ##############################*/

@media screen and (max-width:767px) {
    .navBar{
        width: 180px;
        height: 139px;
        display: flex;
        flex-direction: column;
    }
}