#homeFeatured{
    width: inherit;
    height: 696px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 200px;
}

#homeFeatured > div{
    width: inherit;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}