#homeFeatured {
    width: inherit;
    height: 696px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 200px;
    
}

#homeFeatured>div {
    width: inherit;
    display: inline-flex;
    align-items: flex-end;
    justify-content: space-between;
}

#homeFeatured-bottom{
    display: none!important;
}

/*############################## TABLET VERSION ##############################*/

@media (min-width: 768px) and (max-width: 1024px) {
    #homeFeatured {
        height: 925px;
    }

    #homeFeatured-projects {
        height: 768px;
        display: flex;
        flex-direction: column;
    }
}

/*############################## MOBILE VERSION ##############################*/

@media screen and (max-width:767px) {
    #homeFeatured {
        width: 311px;
        height: auto;
        justify-content: flex-start;
        margin-top: 73px;
    }

    #homeFeatured-top > div[class='arrowButton']{
        display: none;
    }

    #homeFeatured-projects {
        height: 768px;
        margin: 73px 0px 24px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #homeFeatured-bottom{
        display: block!important;
    }
    #homeFeatured-top > div[class='arrowButton']{
        width: inherit;
    }
}