#contactDetails{
    width: inherit;
    height: 207px;
    margin-top: 274px;
    display: inline-flex;
    justify-content: space-between;
}

#contactDetails h3{
    width: 350px;
    height: 128px;
    color:var(--veryDarkBlue);
}

.contactDetailsInfo{
    width: 350px;
    height: inherit;
    margin: 14px 0px 59px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color:var(--darkGrey);
}