:root{
    --veryDarkBlue:#1B1D23; /*RGB : rgb(27, 29, 35) - hsl(225, 13%, 12%)*/
    --darkGrey:#60636D; /*rgb(96, 99, 109) - hsl(226, 6%, 40%)*/
    --mediumGrey:#7D828F; /*rgb(125, 130, 143) - hsl(223, 7%, 53%)*/
    --lightGrey:#C8CCD8; /*rgb(200, 204, 216) - hsl(225, 17%, 82%)*/
    --veryLightGrey:#EEEFF4; /*rgb(238, 239, 244) - hsl(230, 21%, 95%)*/
    --red:#DF5656; /*rgb(223, 86, 86) - hsl(0, 68%, 61%)*/
}

@font-face {
    font-family: 'LeagueSpartan-Bold';
    src: url('./assets/fonts/LeagueSpartan-Bold.woff')format('woff');
    font-weight: 700;
}

@font-face {
    font-family: 'LeagueSpartan-Medium';
    src: url('./assets/fonts/LeagueSpartan-Medium.woff')format('woff');
    font-weight: 500;
}

*{
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0px;
    padding: 56px 0px 0px;
    background-color: white;
}

nav{
    margin: 0px;
    padding: 0px;
}

p{
    margin: 0px;
    padding: 0px;
}

h1, h2, h3, h4 , h5{
    margin: 0px;
    padding: 0px;
}

h1{
    font: 700 250px/270px 'LeagueSpartan-Bold';
    letter-spacing: -5px;
    color:var(--veryLightGrey);
}

h2{
    font: 700 96px/80px 'LeagueSpartan-Bold';
    letter-spacing: -2px;
    color:white;
}

h3{
    font: 700 72px/64px 'LeagueSpartan-Bold';
    letter-spacing: -2px;
}

h4{
    font: 700 18px/35px 'LeagueSpartan-Bold';
}

h5{
    font: 700 32px/40px 'LeagueSpartan-Bold';
}

.defaultText{
    font: 500 18px/24px 'LeagueSpartan-Medium';
}

/*############################## TABLET VERSION ##############################*/

@media (min-width: 768px) and (max-width: 1024px) {
    h1{
        font: 700 120px/200px 'LeagueSpartan-Bold';
        letter-spacing: -3px;
    }
}

/*############################## MOBILE VERSION ##############################*/

@media screen and (max-width:767px) {}
