#aboutUsHeritage{
    width: inherit;
    height: 627px;
    margin-top: 200px;
    background: url('./img/aboutUsHeritage.jpg') right/540px no-repeat;
}

#aboutUsHeritage h3{
    width: 380px;
    height: 133px;
    color:var(--veryDarkBlue);
    margin: 82px 0px 54px;
}

#aboutUsHeritage div[class='defaultText']{
    width: 445px;
    height: 288px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color:var(--veryDarkBlue);
}

/*############################## TABLET VERSION ##############################*/

@media (min-width: 768px) and (max-width: 1024px) {
    #aboutUsHeritage{
        width: inherit;
        height: 627px;
        margin-top: 200px;
        background: none;
    }
    
    #aboutUsHeritage h3{
        width: 280px;
        height: 133px;
        margin: 69px 0px 22px;
    }
    
    #aboutUsHeritage div[class='defaultText']{
        width: 310px;
        height: 432px;
    }
}

/*############################## MOBILE VERSION ##############################*/

@media screen and (max-width:767px) {}